
.card-inner {
    display:flex;
  flex-direction: column;
  align-items: stretch;
}



.add-cart {
    background-color:gold;
    border-radius:30px;
    border:1px solid gold;
}

.product-select {
    text-align:center;
}